<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>backgroundGradientColors</key>
			<array>
				<string>#000000</string>
				<string>#2E2E32</string>
				<string>#424247</string>
			</array>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon@3x.png</string>
			<key>packageIdentifier</key>
			<string>com.i0stweak3r.statusbarbackgrounds</string>
			<key>subtitleColor</key>
			<string>#BCBBD1</string>
			<key>titleColor</key>
			<string>#D6E9EF</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Turn on this switch to enable the tweak.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.statusbarbackgrounds/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SHSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.statusbarbackgrounds</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Add a background color behind the status bar. To use alpha, do not press the hex symbol, just pick your color with alpha then hit the back button.</string>
			<key>label</key>
			<string>Add background color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.statusbarbackgrounds/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SHSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.statusbarbackgrounds</string>
			<key>key</key>
			<string>wantsBackgroundColor</string>
			<key>label</key>
			<string>Enable background color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.statusbarbackgrounds/ReloadPrefs</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.statusbarbackgrounds</string>
			<key>fallback</key>
			<string>FF0000</string>
			<key>key</key>
			<string>backgroundColorHex</string>
			<key>label</key>
			<string>Background color:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Turn on this switch to color the foreground icons in the status bar a common color system wide.</string>
			<key>label</key>
			<string>Foreground Items</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.statusbarbackgrounds/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SHSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.statusbarbackgrounds</string>
			<key>key</key>
			<string>colorForeground</string>
			<key>label</key>
			<string>Enable foreground color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.statusbarbackgrounds/ReloadPrefs</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.statusbarbackgrounds</string>
			<key>fallback</key>
			<string>FF0000</string>
			<key>key</key>
			<string>foregroundColorHex</string>
			<key>label</key>
			<string>Foreground items color:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>A respring is necessary anytime the settings are changed so that they are applied efficiently all at once.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Tweak developed by iOs_tweak3r, copyright 2020, except for lCSColorPicker by CreatureSurvive, and Cephei by Hashbang Productions. .</string>
			<key>label</key>
			<string>DEVELOPERS</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>i0s_tweak3r</string>
			<key>user</key>
			<string>BrianVS</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>yourepo.png</string>
			<key>label</key>
			<string>Add My Repo To Cydia.</string>
			<key>url</key>
			<string>https://cydia.saurik.com/api/share#?source=http://i0s-tweak3r-betas.yourepo.com/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Want more options to pimp out your iDevice? Check out some of these other awesome packages.</string>
			<key>label</key>
			<string>More tweaks for iOS 13.5 and below!</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>FolderControllerXIII</string>
			<key>packageIdentifier</key>
			<string>com.i0stweak3r.foldercontrollerxiii</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>LegiBilly12</string>
			<key>packageIdentifier</key>
			<string>com.i0stweak3r-betas.legibilly12</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>Stylish11</string>
			<key>packageIdentifier</key>
			<string>com.i0stweak3r.stylish11</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>ModernBarz</string>
			<key>packageIdentifier</key>
			<string>com.i0stweak3r.modernbarz</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>EnableMeAhora</string>
			<key>packageIdentifier</key>
			<string>com.i0stweak3r.enablemeahora</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>For access to all my free tweaks; also check out my packages available in BigBoss.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>myOtherTweaks</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>icon</key>
			<string>bigboss.png</string>
			<key>label</key>
			<string>Free tweaks in BigBoss</string>
		</dict>
	</array>
	<key>title</key>
	<string> </string>
</dict>
</plist>
